doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title=title
    link(rel="stylesheet" href="/src/styles/main.scss")
  body 
    h1=title
    include ../components/nav.pug
    img(src="/src/assets/logo.svg" style="max-width: 400px")
    svg.icon(width='24' height='24')
      use(xlink:href='#icon-arrow-up')
    script(src="/src/scripts/icons.js" type="module")
    script(src="/src/scripts/main.js" type="module")